# Bỏ qua lỗi patch lockfile trên Windows
NEXT_IGNORE_INCORRECT_LOCKFILE=1

# URL kết nối Backend API
NEXT_PUBLIC_API_URL=http://localhost:8000/api

# Stripe Publishable Key (Sandbox / Test Mode)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your-stripe-publishable-key