@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, input, select, textarea, button {
  font-family: var(--font-inter), sans-serif;
  font-size: 16px; /* Standard 16px (1rem) base */
}

body {
  background-color: #faf8ff;
  color: #191b23;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-calendar-picker-indicator {
  font-family: inherit;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

@layer utilities {
  .fade-in {
    --tw-enter-opacity: 0;
  }

  .zoom-in-95 {
    --tw-enter-scale: 0.95;
  }
}

.voucher-divider {
  background-image: linear-gradient(to right, theme('colors.outline-variant') 50%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 8px 1px;
  background-repeat: repeat-x;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes timerBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* Hide spin buttons for number inputs */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}

