@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap";
@import "tailwindcss";

@theme {
  --color-primary: #004ac6;
  --color-primary-container: #2563eb;
  --color-primary-fixed: #dbe1ff;

  --color-secondary: #006c49;
  --color-secondary-container: #6cf8bb;

  --color-tertiary: #784b00;
  --color-tertiary-container: #996100;

  --color-background: #f7f9fb;
  
  --color-surface: #ffffff;
  --color-surface-dim: #d8dadc;
  --color-surface-bright: #f7f9fb;
  --color-surface-container: #eceef0;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container-high: #e6e8ea;
  --color-surface-container-highest: #e0e3e5;

  --color-text-main: #0F172A;
  --color-text-muted: #64748B;
  --color-border: #E2E8F0;
  --color-outline: #737686;
  --color-outline-variant: #c3c6d7;

  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;

  --color-on-primary: #ffffff;
  --color-on-primary-container: #eeefff;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #434655;
  --color-booking-legacy: #003580;

  --font-sans: 'Inter', sans-serif;
}

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter);
  background-color: #f7f9fb;
  color: #0F172A;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}